{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
<script src="{% static '/js/main.js' %}"></script>
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-md-12">
                <div class="card px-3">
                    <div class="card-body">
                        <h4 class="card-title">Awesome Todo list</h4>
                        <table>
                        <form method="POST" action="/">
                            {% csrf_token %}
                            {{form.task_name}}
                         <button class="add btn btn-primary font-weight-bold todo-list-add-btn">Add</button>
                        </form>

                        {% for task in tasks %}

                         <tr>
                        <div class="list-wrapper">

                        {% if task.complete == True %}
                            <th><strike>{{task}}</strike></th>
                            {% else %}
                            <th>{{task}}</th>
                            {% endif %}
                            <a class="btn btn-sm btn-info" href="{% url 'update_task' task.id %}">Update</a>
			                <a class="btn btn-sm btn-danger" href="{% url 'delete_task' task.id %}">Delete</a>
                        </div>
                         </tr>
                        </table>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>